src/layers/automation/workflows/appointment-booking.json
{
  "name": "Voice Agent — Appointment Booking",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [250, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "appointment-booking",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "route-action",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [500, 300],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "check",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Check Availability"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "book",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Book Appointment"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      }
    },
    {
      "id": "check-calendar",
      "name": "Check Calendar API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 200],
      "parameters": {
        "method": "POST",
        "url": "https://your-calendar-api.com/check",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ date: $json.body.date, service_type: $json.body.service_type }) }}",
        "options": {
          "retry": {
            "maxTries": 3,
            "retryIntervalMs": 1000,
            "retryIntervalMultiplier": 2
          }
        }
      }
    },
    {
      "id": "book-calendar",
      "name": "Book via Calendar API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 400],
      "parameters": {
        "method": "POST",
        "url": "https://your-calendar-api.com/book",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ date: $json.body.date, time: $json.body.time, caller_name: $json.body.caller_name, phone_number: $json.body.phone_number, service_type: $json.body.service_type }) }}",
        "options": {
          "retry": {
            "maxTries": 3,
            "retryIntervalMs": 1000,
            "retryIntervalMultiplier": 2
          }
        }
      }
    },
    {
      "id": "respond-check",
      "name": "Respond Check",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1000, 200],
      "parameters": { "respondWith": "firstIncomingItem" }
    },
    {
      "id": "respond-book",
      "name": "Respond Book",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1000, 400],
      "parameters": { "respondWith": "firstIncomingItem" }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Route by Action", "type": "main", "index": 0 }]]
    },
    "Route by Action": {
      "main": [
        [{ "node": "Check Calendar API", "type": "main", "index": 0 }],
        [{ "node": "Book via Calendar API", "type": "main", "index": 0 }]
      ]
    },
    "Check Calendar API": {
      "main": [[{ "node": "Respond Check", "type": "main", "index": 0 }]]
    },
    "Book via Calendar API": {
      "main": [[{ "node": "Respond Book", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
