src/layers/automation/workflows/call-ended.json
{
  "name": "Voice Agent — Call Ended",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [250, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "call-ended",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson"
      }
    },
    {
      "id": "dedup-check",
      "name": "Dedup Check — vapi_call_id",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/calls?vapi_call_id=eq.{{ $json.body.call_id }}&select=id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "options": {
          "response": { "response": { "fullResponse": false } },
          "retry": {
            "maxTries": 3,
            "retryIntervalMs": 1000,
            "retryIntervalMultiplier": 2
          }
        }
      }
    },
    {
      "id": "is-duplicate",
      "name": "Already Processed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [750, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "dedup",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "skip-duplicate",
      "name": "Return OK (Duplicate)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1000, 200],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            { "id": "ok", "name": "ok", "type": "boolean", "value": true },
            { "id": "skipped", "name": "skipped", "type": "boolean", "value": true },
            { "id": "reason", "name": "reason", "type": "string", "value": "duplicate vapi_call_id" }
          ]
        }
      }
    },
    {
      "id": "process-call",
      "name": "Process Call via API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 400],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WEBHOOK_BASE_URL }}/pipeline/process",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Webhook Trigger').first().json.body) }}",
        "options": {
          "retry": {
            "maxTries": 3,
            "retryIntervalMs": 1000,
            "retryIntervalMultiplier": 2
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Dedup Check — vapi_call_id", "type": "main", "index": 0 }]]
    },
    "Dedup Check — vapi_call_id": {
      "main": [[{ "node": "Already Processed?", "type": "main", "index": 0 }]]
    },
    "Already Processed?": {
      "main": [
        [{ "node": "Return OK (Duplicate)", "type": "main", "index": 0 }],
        [{ "node": "Process Call via API", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" }
}
